<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/test.css">
</head>
<body>
<h1>index主页</h1>
<div><%=username%></div>
<span>欢迎您！</span>
<a href="/buy.do">购买页</a>
<a href="/deleteUser.do">注销登录</a>
</body>
</html>